/* importando fonte*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,400&display=swap');


*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* confugurando a segunda section corpo-inicial-pagina*/
.corpo-inicial-pagina 

{
    min-height: 100vh;
    padding: 100px;
    display: flex;
    background-image: url('https://images.pexels.com/photos/1252983/pexels-photo-1252983.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 0 0 3px #003300, 0 0 5px #000066;
}

/* criando menu na parte superior da tela*/
header 

{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    height: 100px;
}
header h1{
    color: wheat; 
}

header ul li 

{
    display: inline;
}

header ul li a 

{
    color: wheat;
    margin-left: -10px;
    margin-top: 100px;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 5PX;
    padding-right: 5px;
    margin: 5px;
    padding-bottom: 5px;
    position: relative;
    left: 45px;
}

header ul li a:hover{
    background: rgb(230, 193, 168);
    color: black;
} 

/* segunda section onde ficará a primeira impressão do site*/
.corpo-inicial-pagina h1

{
    
    padding-top: 60px;
    padding-left: 10px;
    color: rgb(230, 193, 168);
    font-size: 80px;
}

.features 
{
    padding-top: 50px;
    background-color:rgb(248, 201, 201);

}
/*Título features*/
.features h1 

{
    margin: 100px;
    font-size: 60px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 500;
   /* color: rgb(131, 93, 93);*/
}
/*criando caixas com conteudo dentro da features*/
.features .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.features .box-container .box{
    display: inline;
    margin: 1rem;
    border-radius: .5rem;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 0.15rem;
    flex:2 2 20rem;
    cursor: pointer;
    border: solid;
}

.features .box-container .box i{
color:var(--red);
font-size: 5rem;
padding:1rem;
}

.features .box-container .box h3{
margin-top: -80px;
color:var(--black);
font-size: 2.4rem;
}

.features .box-container .box p{
color:rgb(54, 31, 97);
font-size: 1.5rem;
padding:1rem;
}
/* outra section*/
.sobre-site 

{
    background-color:rgb(248, 201, 201);
    height:1050px;
}

.sobre-site h2 

{
    padding-top: 100px;
    text-align: center;
    font-size: 60px;
    color: rgb(0, 0, 0);
    font-weight: 400;
}

.sobre-site p

{
    margin: 45px;
    margin-top: 200px;
    margin-bottom: -20px;
    color: rgb(46, 31, 31);
}

.sobre-site img 

{
    height: 600px;
    margin-top: -300px;
    padding-left: 750px;
}
.review{
    background-color: rgb(248, 201, 201);
}

.review h2

{
    padding-bottom: 100px;
    font-size: 60px;
    text-align: center;
}

.review .box-container

{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.review .box-container .box

{
    text-align: center;
    margin: 1rem;
    padding: 2rem;
    flex: 1rem;
    border: .1rem solid black;
    border-radius: .5rem;
    background-color: white;
    color: rgb(54, 31, 97);
    
}
.review .box-container .box h3{
    font-weight: 400;
    color: rgb(19, 11, 36);
}

.review .box-container .box img 

{
    width: 100px;
    height: 100px;
}

.footer 
  {
    display: flex;
    position: relative;
    height: 150px;
    background-color: black;
  }

  .footer h2
  {
    font-size: 170%;
    color: wheat;
    padding-left: 200px;
    padding-top: 55px;
  }

  .footer img 
  {   
    width: 48px;
    height: 48px;
    margin: 5px;
    margin-top: -30px;
    position: relative;
    left: 850px;
  }